main{
    display: flex;
    justify-content: center;
    transition: height .2s ease;
    overflow: hidden;
    position: relative;
    width: 30%;
    
    
    
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 70px;
    
}



main.active{
    height: 550px;
}
main.active #login-container{
    transition: transform .48s ease;
    transform: translateX(-400px);
    

}
main #login-container{
    transition: transform .48s ease;
    transform: translateX(0);
}

.form{
    text-align: center;
    border-radius: 10px;
    background-color: var(--ezez);
    padding: 20px 40px;
    width: 100%;
    box-shadow: 5px 5px 10px -5px black;
    color: var(--bardh);
    
    
    
}
#register-container{
    position: absolute;
    transform: translateX(400px);
    transition: transform .48s ease;
    
    
    
    
}
main.active #register-container{
    transition: transform .48s ease;
    transform: translateX(0);
}
.ToS{
    height: 30px;
}

.form h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form a {
    text-decoration: none;
    color: orange;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 50%;
    background-color: orange;
    box-shadow: 5px 10px 15px -15px var(--ezez);
    color: var(--bardh);
    text-shadow: 0px 0px 8px rgb(127, 31, 31);
    padding: 5px;
    font-family: inherit;
    font-size: medium;
    font-weight: 500;
    border:0;
    border-radius: 5px;
}
 
.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    justify-self: center;
    margin: 20px 0 40px;
    position: relative;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px var(--bardh) solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: var(--bardh);
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: orange;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: orange;
    transform: translateY(-30px);
}
#error {
    color: rgba(255, 0, 0, 0.9);
}

#valid{
    color: rgba(0, 128, 0, 0.9);
}
#errorReg {
    color: rgba(255, 0, 0, 0.9);
}

#validReg{
    color: rgba(0, 128, 0, 0.9);
}

@media only screen and (max-width: 768px) {
    main{
        width: 90%;
        margin-left: 4%;
        margin-right: 4%;
        
    }
    main.active{
        height: 600px;
    }
  }