@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --ezez:black;
  --bardh:#E9E3D8;
}
.dark-theme {
    --ezez: #e9e3d8;
    --bardh: #131516;
  }


#theme-toggle-dark{
    display: none;
}
body.dark-theme #theme-toggle {
    display: none;

}
body.dark-theme #theme-toggle-dark {
    display: block;

}
/*darkmode */ 
#darkbutoni {
    margin-left: 0px;
    color: var(--bardh);
    width: 30px;
    height: 30px;
    display: inline;
    font-size: x-large;
  }


body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg,rgb(179, 45, 45),#ffbb00);
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    margin: 0;
    background-color: var(--ezez);
    padding: 15px 15px 15px 5px;
}

header>.row{
    max-width: 1170px;
    margin: auto;
    justify-content: space-around;
}

#logo{
    color: gold;
    font-family: cursive;
    font-style: italic;
    font-style: bold;
    font-weight: 800;
}
#darkbutoni:hover{
    color: rgb(224, 191, 0);
    cursor: pointer;
}

a{
    text-decoration: none;
}

header>.row>a{
    background-color: var(--ezez);
    box-sizing: border-box;
    
    
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: var(--bardh);
    font-weight: 500;
    transition: all 0.2s ease;
}

header>.row>a:hover{
    color: rgb(224, 191, 0);
}

.dropdown{
    
    position: relative;
    
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--ezez);
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -35px;
  }
  .dropdown-content a:hover {
    color: rgb(224, 191, 0);
    font-weight: bold;  
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color:var(--bardh);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown p{
    background-color: rgb(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 14%;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: var(--bardh);
    font-weight: 500;
    transition: all 0.2s ease;
}

.dropdown p:hover{
    color: rgb(224, 191, 0);
}



footer{
    margin: 0;
    background-color: var(--ezez);
    padding: 70px 0px;
}

footer>.container{
    max-width:1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.footer-column{
    width: 33%;
    padding: 0 15px;
}

.footer-column>h4{
    font-size: 18px;
    color: var(--bardh);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-column>h4::before{
    content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: brown;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
} /* qikjo osht qajo vija dekoruse perfuni h4*/ 

.footer-column>ul>li:not(:last-child){
	margin-bottom: 5px;
}

.footer-column>ul>li>a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--bardh);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-column>ul>li>a:hover{
    color: gold;
    padding-left: 9px;
}

.footer-column>ul>li>a:active{
    transform: scale(0.98);
    padding-left: 8px;
}

.footer-column>.SocialLinks-section>a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(231, 196, 0, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: gold;
    transition: all 0.3s ease;
}

.footer-column>.SocialLinks-section>a:hover{
    color: var(--bardh);
    background-color: gold;
}

.footer-column>.SocialLinks-section>a:active{
    transform: scale(0.94);
}

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  color: #9fa4a8;
  cursor: pointer;
  outline: none;
  border: 2px solid #9fa4a8;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:active{
  background-color: #9fa4a8b7;
  color: rgba(255, 255, 255, 0.504);
}

/*animaCionEt wowowo*/
.btnEntrance{
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}


  
/* zoomIn */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  } 
}
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
  opacity: 1;
}
/* ZoomOut */
@keyframes btnExit {
 from {
  opacity: 1;
 }
 to {
  opacity: 0;
  transform: scale3d(0.3, 0.3, 0.3);
 }
}

/* E bojna responsive tash */
@media(max-width: 767px){
    .footer-column{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 565px){
    .footer-column{
        width: 100%;
    }
    header a{
        width: 33%;
        padding-top: 3px;
    }
}